rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in [
          "usuario1@charlyalexa.com"
        ];
    }

    match /products/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /homepage/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /categories/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /subcategories/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /site/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
